@property --gap{
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --angle{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.team-members-images{
  margin-top: 120px;
}

.team-members-images img.lead {
  --border: 15px;
  --gap: 12px;
  --color: #DFA14A;
  
  width: 300px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  
  --angle: 90deg;
  background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border),auto;
  background-repeat: no-repeat;
  
  -webkit-mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
          mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
  transition: --angle .4s,--gap .4s;
}
.team-members-images img:hover {
  --angle: 0deg;
  --gap: 5px;
}


.team-members-images img.employee {
  --border: 0px;
  --gap: 6px;
  --color: #DFA14A;
  
  width: 300px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  
  --angle: 90deg;
  background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border),auto;
  background-repeat: no-repeat;
  
  -webkit-mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
          mask:
    radial-gradient(farthest-side, 
     #000  calc(99%  - calc(var(--border) + var(--gap))),
     #0000 calc(100% - calc(var(--border) + var(--gap))) 
           calc(99%  - var(--border)), 
     #000  calc(100% - var(--border)));
  transition: --angle .4s,--gap .4s;
}



.team-member {
  position: relative;
}

.member-wrapper {
  position: relative;
  overflow: hidden;
}

.member-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-member:hover .team-members-images img {
  display: none;
}

/* Complete border on hover over info */
.team-member:hover .member-info {
  opacity: 1; /* Show info */
  z-index: 1; /* Ensure info is above image */
}

.team-member:hover .team-members-images img.lead {
  --angle: 0deg;
  --gap: 5px;
  background-size: calc(var(--border) + var(--gap)) calc(var(--border) + var(--gap)), auto; /* Complete the border */
}

.team-member:hover .team-members-images img.employee {
  --angle: 0deg;
  --gap: 5px;
  background-size: calc(var(--border) + var(--gap)) calc(var(--border) + var(--gap)), auto; /* Complete the border */
}


